$primary: $black;
$secondary: $grey;

// General Colors

$background: $white;

// Text colors
$text-light: $grey;
$text: $grey-dark;
$text-strong: $grey-darker;


// Links

$link: $blue;
$link-visited: $purple;
$link-hover: $grey-darker;
$link-active: $grey-darker;


// Typography

$family-primary: $family-sans-serif;

$size-small: $size-7;
$size-normal: $size-6;
$size-medium: $size-5;
$size-large: $size-4;
