$icon-dimension: 1.5rem;
$icon-font-size-offset: .3rem;

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: $icon-dimension -$icon-font-size-offset;
  height: $icon-dimension;
  width: $icon-dimension;
}
